# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.pid
