# ----------------------------
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
env/

# ----------------------------
# Jupyter
.ipynb_checkpoints/

# ----------------------------
# Data and Models
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# ----------------------------
# Logs
logs/
*.log

# ----------------------------
# OS
.DS_Store

# ----------------------------
# IDE / Editor
.vscode/
.idea/

# ----------------------------
# Docker
*.pid
